@tailwind base;
@tailwind components;
@tailwind utilities;

  body {
    background: linear-gradient(45deg, rgb(249, 143, 143), rgb(245, 194, 100)), rgb(243, 218, 181);
    min-height: 100vh;
    margin: 0; /* Optional: Remove default margin */
    font-family: 'Mali', sans-serif;
}

/* Default width for the Facebook plugin */
#facebook-plugin {
  width: 400px;
}

/* Width adjustment for screens smaller than 1200px */
@media (max-width: 500px) {
  #facebook-plugin {
      width: 360px;
  }
}


.centered-container {
  height: 475px;
  width: 375px;
}
  
  